<ion-header>
    <ion-navbar color="primary" no-border>
        <ion-title>
            About
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="cryptCard">
        <ion-card-header>
            Cryptocurrencies
        </ion-card-header>
        <ion-card-content>
          <!--  Hardcoded to prevent HTTP request-->
          This is a very simple app that show the recent changes in cryptocurrenies.
          The aim is help people better understand the fluctuacting market of this new domains.<br>

          Since 2009, Bitcoin has made its way to headlines time and time again which suggests that more people are intereted in this space.
          As time has gone by, more people have supported the increased price points and this phenomena is growing stronger.


        </ion-card-content>
    </ion-card>

</ion-content>
